@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, .25);
}
#screen{
    width: 348px;
    height: 60px;
    margin-left: 5%;
    border-radius: 10px;
    background-color: rgb(178, 212, 228);
    font-size: 37px;
    text-align: right;
}
.clear{
    background-color: red;
}   
.operator{
    background-color:rgb(132, 132, 130);
}
p{
    color: white;
    margin-left: 18px;
    font-size: 24px;
    position: relative;
    top: 18px;
    left: 10px;
    text-transform: uppercase;
    margin-bottom: 39px;
}
.header{
    position: relative;
    bottom: 20px;
    text-transform:capitalize;
}
.button{
    width: 68px;
    height: 56px;
    margin-left: 20px;
    margin-top: 28px;
    font-size: 2.5em;
    border-radius: 9px;
}


.number,.result{
    background-color: rgb(85, 81, 81);
}


@media (min-width:768px){
    .container{
        margin: auto;
        width: 382px;
        height: 503px;
    }
    .button:hover{
        border: 5px solid yellow;
    }
}
@media(max-width:767px){
    #screen{
        width: 340px;
    }

    .container{
        padding-bottom: 15px;        
        width: 377px;
        margin: auto;
    }
    .button:hover{
        border: 2px solid yellow;
    }
}
